/*
  Arquivo: src/context/NotificationContext.css
  Descrição: Estilos para o container que posiciona as notificações na tela.
*/
.notification-wrapper {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    gap: 10px;
}